alias zrc="vim ~/.zshrc"
alias vrc="vim ~/.vimrc"
alias src="source ~/.zshrc"
alias ls="ls -la --color=always"

alias config='$(which git) --git-dir=$HOME/.cfg/ --work-tree=$HOME'

mcdir () { mkdir -p -- "$1" && cd -P -- "$1" }
